@import '../variables';

.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-bottom: 10px;
}

.item {
  padding: 5px 10px;
  border: $component-border;
  margin-left: 1px;
  font-size: 0.8em;
  text-decoration: none;
  color: inherit;
  background: $component-bg;
  cursor: pointer;
  user-select: none;
}

.active {
  @extend .item;
  background-color: #ced1d4;
}